.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    
}

.skills ul li {
	border: 1px solid #0076a3;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 2px 20px 14px 0px;;
	padding: 10px;
}